#Contributors: Erik, Mijin, Patricia, Jonathan

# Ignore IPython Notebook checkpoint files
**/*.ipynb_checkpoints/
/archive

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database
*.sqlite3

# Ignore model files
*.h5
/media/Performance/CnnModel
/media/Performance/ConfusionMatrix

# Ignore user files
/media/Images


