{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}
    <div class="container-fluid bg-user-color text-center full-height">  
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% if is_user_logged_in %}
                <div class="button-container">
                    <button type="login" id="homeMyPageBtn" class="btn btn-outline-primary mt-2 mypage-button-position">My page</button>
                    <button type="login" id="homeLogoutBtn" class="btn btn-outline-primary mt-2 mypage-button-position">Logout</button>
                </div>
                <script>
                    document.getElementById("homeLogoutBtn").addEventListener("click", function() {
                        window.location.href = "{% url 'user_logout' %}";
                    });
                
                    document.getElementById("homeMyPageBtn").addEventListener("click", function() {
                        window.location.href = "{% url 'profile' %}";
                    });
                </script>
            {% else %}
                <div class="button-container">
                    <button type="login" id="homeAdminBtn" class="btn btn-outline-primary mt-2 mypage-button-position">Admin Log In</button>
                </div>
                <script>
                    document.getElementById('homeAdminBtn').addEventListener('click', function() {
                        window.location.href = '/custom_admin';
                    });
                </script>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-5 container-1">
                <div class="welcome-text">
                    <p>
                        Welcome to FruitScan. Here you can upload an image of a fruit and we will recognize it.
                    </p>
                    <p>
                        As a result you get the name of the fruit and some nutritional values.
                    </p>
                </div>
            </div>
            <div class="col-sm-7 container-2">
                <form method = "post" enctype="multipart/form-data" class="form-border">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.image.id_for_label }}">Upload Image:</label>
                        {{ form.image }}
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-outline-primary btn-lg mb-3 mt-3 ">Predict</button>
                    </div>
                </form></br>
                {% if is_user_logged_in %}
                {% else %}
                    <div class="text">
                        <p> OR </p>
                    </div>
                    <div class="d-grid gap-2 col-2 mx-auto">
                        <div class="button-container">
                            <button type="login" id="homeLoginBtn" class="btn btn-outline-primary btn-lg">Log In</button>
                        </div>
                    </div>
                    <script>
                        document.getElementById("homeLoginBtn").addEventListener("click", function() {
                            window.location.href = "{% url 'login' %}";
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

<style>   

body {
    background-image: url('{% static 'images/minimalist.jpg' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.btn btn-outline-primary btn-lg {
    font-size: 2em;
}
    
.welcome-text {
    font-family: "Sofia", sans-serif;
    /*font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;*/
    font-size: 1.7em;
    color: black;
    font-weight: bold;
}
    
.container-1 {
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.form-border {
    border: 1px solid #000000;
    padding-top: 13px;
    padding-bottom: 1px;
    width: 55%;
    margin: 0 auto;
    padding-left: 52px; 
    padding-right: 0px;
    border-radius: 10px; 
    background-color: #4CAF50;
}

.button-container {
    text-align: center; 
    padding-left: 0px; 
    padding-right: 50px;
}

.button-container .btn.btn-outline-primary {
    width: 140px;
    background-color: white;
    color: black; 
    border-color: black; 
    /*font-family: "Sofia", sans-serif;*/
}

/* Hover state styling */
.button-container .btn.btn-outline-primary:hover {
    color: black; 
    background-color: #FFD700; 
    border-color: black; 
    font-weight: bold;
    /*font-family: "Sofia", sans-serif;*/
}

.mypage-button-position {
    position: relative;
    left: 40px; 
}

.form-border div {
    width: 100%; 
    text-align: center; 
}

.container-2 {
    padding-top: 120px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 80px;
}

input[type="file"] {
    font-size: 20px;
    padding-left: 40px; 
    padding-right: 10px;
    font-weight: bold;
    /*font-family: "Sofia", sans-serif;*/
}

.form-border label {
    font-size: 25px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 0px; 
    padding-right: 50px;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
}

</style>

{% endblock %}

